// views/login.pug
doctype html
html
    head
        title Login
        link(rel='stylesheet', href='/style.css')
    body
        if error
            p.error= error
        form(action='/login', method='post')
            div
                label(for='username') Username:
                input(type='text', name='username', id='username', required)
            div
                label(for='password') Password:
                input(type='password', name='password', id='password', required)
            button(type='submit') Login
        script(src='/javascripts/script.js')
