extends layout

block content
  include ./styles.pug

  .container
    h1.page-title= title

    if author_list.length
      ul
        each author in author_list
          li
            a(href=author.url) #{author.name} 
              | #{author.lifespan}
    else
      p There are no authors.
