extends layout

block content
  include ./styles.pug

  .container
    h1.page-title Sorry, we can't find the page you are looking for.
    h2= 'Error: ' + message
    h2= 'Error status: ' + error.status
