*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}

:root {
	font-size: 17px;
	--background-color: #edf4f2;
	--sidebar-color: #31473a;
	--header-color: #fb6542;
	--text-color: #2f4f4f;
	--link-color: #4d5c5c;
	--link-hover-color: #735da5;
	--sidebar-color:#4CAF50;
	--sidebar-hover-color: #08550a;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: 'Roboto', sans-serif;
}

hr {
	border-color: #101820;
}

a {
	color: var(--link-color);
}

a:hover {
	color: var(--link-hover-color);
}

.container {
	padding-top: 15px;
}

.sidebar-nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 200px;
	height: 100vh;
	padding: 20px;
	list-style: none;
	background-color: var(--sidebar-color);
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.sidebar-nav>li {
	margin-bottom: 8px;
}

.sidebar-nav>li:last-child {
	margin-bottom: 0;
}

.sidebar-nav>li>a {
	color: white;
	display: block;
	padding: 10px;
	border-radius: 5px;
	transition: background-color 0.3s;
	text-decoration: none;
}

.sidebar-nav>li>a:hover {
	background-color: var(--sidebar-hover-color);
	color: white;
}

.sidebar-nav>li>a.active {
	background-color: var(--active-link-color);
	color: #101820;
}

.sidebar-nav>li>hr {
	border-color: white;
}

.author-link-sidebar {
	margin-top: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.devicon-github-original {
	font-size: 30px;
}

.github-link-sidebar {
	color: white;
	transition: transform 0.15s ease;
}

.github-link-sidebar:hover {
	text-decoration: none;
	transform: scale(1.1) ;
	color: white;
}
.page-title {
	font-size: 70px;
	font-weight: bold;
	color: var(--header-color);
}

.home-title {
	display: flex;
	align-items: flex-end;
	gap: 15px;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 120px;
}

.welcome {
	font-size: 55px;
}

.house-icon {
	font-size: 90px;
}

.count-title {
	margin-top: 30px;
	font-size: 24px;
}

.home-count > li {
	font-size: 20px;
	margin-bottom: 5px;
}

.built-by {
	display: flex;
	justify-content: flex-end;
	position: fixed;
	bottom: 0px;
	right: 20px;
	font-family: 'Satisfy', cursive;
}

.github-link-footer {
	transition: transform 0.15s linear;
}

.github-link-footer:hover {
	text-decoration: none;
	transform: scale(1.1);
	color: var(--text-color);
}

.update,
.delete {
	display: flex;
	gap: 10px;
}

.update-pen,
.delete-icon {
	font-size: 22px;
}

.error-list {
	margin-top: 30px;
}